<% var MONTHS = ["January", "February", "March", "April", "May", "June", "July",
          "August", "September", "October", "November", "December"] %>

<% var YEARS = [2014, 2015, 2016, 2017, 2018, 2019] %>

<% var SHIPPING = ["Shipping anywhere in the world",
            "Shipping within the US only",
            "No shipping involved"] %>

<% var counter = 1; %>

<main class="edit-main">
    <nav class="edit-nav">
      <ul class="group">
        <a href="" class="edit-basics" data-id="1"><li>Basics</li></a>
        <a href="" data-id="2"><li>Rewards</li></a>
        <a href="" data-id="3"><li>Story</li></a>
        <a href="" data-id="4"><li>About you</li></a>
        <a href="" class="edit-account" data-id="5"><li>Account</li></a>

        <a href="" class="edit-continue"><li>Continue</li></a>
      </ul>
    </nav>

    <header class="edit-header">
      <h1>Every project needs great rewards.</h1>
      <p>Be creative and price them fairly. Explore other projects for inspiration!</p>
    </header>

    <section class="edit-form">
      <div class="gray-field group">
        <label for="reward-form" data-id="<%= counter %>" class="reward-label">Reward #<%= counter %></label>

        <form id="reward-form" class="group">
          <div class="reward-form-div group">
            <label for="reward-pledge">Pledge amount</label>
            <% reward = project.rewards().at(counter - 1) || new App.Models.Reward() %>
            <% console.log(reward) %>
            <input type="text" id="reward-pledge" value="$<%= reward.escape("pledge") || 0 %>"></input>
          </div>

          <label for="reward-description">Description</label>
          <textarea id="reward-description"><%= reward.escape("description") %></textarea>
          <label>Estimated delivery</label>
          <% console.log(reward.escape("delivery_date")) %>
          <select class="month">
            <% _(MONTHS).each(function (month, idx) { %>
              <option value="<% idx %>"><%= month %></option>
            <% }); %>
          </select>
          <select class="year">
            <% _(YEARS).each(function (year, idx) { %>
              <option value="<% idx %>"><%= year %></option>
            <% }); %>
          </select>
          <label for="reward-shipping">Shipping details</label>
          <select id="reward-shipping">
            <% _(SHIPPING).each(function (method, idx) { %>
              <option value="<% idx %>"><%= method %></option>
            <% }); %>
          </select>
          <label for="reward-limit">Limit quantity</label>
          <input type="text" value="<%= reward.escape("limit") || 'None' %>"
            id="reward-limit">
        </form>
      </div>

      <div class="add-reward"><p>Add another backer reward</p></div>
    </section>
</main>








