<form action="<%= user_url(@user) %>" method="POST"   enctype="multipart/form-data">
  <%= authenticate %>
  <input type="hidden" name="_method" value="PATCH">
  <label for="user_profile_picture">
    <input type="file" name="user[profile_picture]" id="user_profile_picture">
  </label>
  <label for="user_name">Name
    <input type="text" name="user[name]"
      value="<%= @user.name %>" id="user_name">
  </label>
  <label for="user_biography">Name
    <textarea name="user[biography]"
      id="user_biography"><%= @user.name %></textarea>
  </label>
  <label for="user_location">Location
    <input type="text" name="user[location]"
      value="<%= @user.location %>" id="user_location">
  </label>

  <input type="submit" value="Save settings">
</form>
