<main class="home-main">
  <div class="video">
    <video autoplay="true" loop="loop">
      <source src="https://d3mlfyygrfdi2i.cloudfront.net/a144/hploop_0204.mp4" type="video/mp4"></source>
      <img src="https://d3mlfyygrfdi2i.cloudfront.net/9d45/hploop_0204.jpg">
    </video>
    <h3>Bring creative projects to life</h3>
    <h6><a href="">Learn more</a></h6>
  </div>
  <div class="staff-picks">
  <section>
    <div class="pick-of-day group">
      <h4>Staff Picks: Art</h4>
      <p>See all Art projects</p>
      <div class="project-main">
        <% project = Project.find(3) %>
        <img src="https://s3.amazonaws.com/kickstarter-lite-development/images/projects/3.original.jpg">
        <div>
          <a><%= project.title %></a>
          <p>by <%= project.creator.name %></p>
          <span><%= project.blurb %></span>
          <ul class="group">
            <li>
              <strong>6%</strong>
              <p>funded</p>
            </li>
            <li>
              <strong>$1302</strong>
              <p>pledged</p>
            </li>
            <li>
              <strong>37</strong>
              <p>backers</p>
            </li>
            <li>
              <strong>24</strong>
              <p>days to go</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="side-categories">
      <% Category.primary_categories.each do |category| %>
        <li><a href=""><%= category.name %></a></li>
      <% end %>
    </ul>
  </section>
  </div>

  <section>
    <div class="kickstarter-item group">
      <div class="img">
        <img src="https://s3.amazonaws.com/ksr/projects/786114/photo-ed.jpg?1408621581">
      </div>

      <div>
        <a href=""><%= project.title %></a>
        <p>dfdfdfd</p>
        <p></p>
      </div>

      <div>
        <span></span>
      </div>

      <div>
        <div>
          <div></div>
        </div>

        <ul>
          <li>
            <strong></strong>
            <span></span>
          </li>

          <li>
            <span></span>
            <span></span>
          </li>

          <li>
            <div></div>
            <div></div>
          </li>
        </ul>
      </div>

    </div>
  </section>
</main>
























