<h1>Meet your new project.</h1>

<script>
$(document).ready(function () {
  var view = new App.Views.ProjectsEdit({
    model: App.Collections.projects.getOrFetch(<%= @project.id %>)
  });

  $("body").html(view.render().$el);
});
</script>




<form action="<%= project_url(@project) %>" method="POST" enctype="multipart/form-data">
	<%= authenticate %>
	<input type="hidden" name="_method" value="PATCH">
	<label for="project_image">Project image
    <input type="file" name="project[photo]" id="project_image">
	</label>
	<label for="project_title">Project title
		<input type="text" name="project[title]"
      value="<%= @project.title %>" id="project_title">
	</label>
	<label for="product_category">Category
  <select name="project[category_id]" id="product_category">
    <% Category.primary_categories.each do |category| %>
      <option value="<%= category.id %>"
        <%= "selected" if @project.category_id == category.id %>>
        <%= category.name %>
      </option>
    <% end %>
  </select>
	<label for="project_subcategory">
	  <select name="project[subcategory_id]" id="project_subcategory">
      <option value="">Subcategory (optional)</option>
	    <% @project.category.subcategories.each do |subcategory| %>
	      <option value="<%= subcategory.id %>"
          <%= "selected" if @project.subcategory_id == subcategory.id %>>
					<%= subcategory.name %>
				</option>
	    <% end %>
	  </select>
	</label>

	<label for="project_blurb">Short blurb
		<textarea name="project[blurb]" id="project_blurb"><%= @project.blurb %></textarea>
	</label>
	<label for="project_location">Project location
		<select name="project[location_id]" id="project_location">
			<% Location.all.each do |location| %>
			<option value=<%= location.id %> <%= "selected" if @project.location && @project.location.id == location.id %>>
        <%= location.name %>
      </option>
			<% end %>
		</select>
	</label>
	<label for="project_end_date">Funding duration
		<input type="text" name="project[end_date]"
			value="<%= @project.end_date %>" id="project_end_date">
	</label>
	<label for="project_goal">Funding goal
		<input type="text" name="project[goal]" value="<%= @project.goal %>">
	</label>

  <br>
  <br>

  <label for="project_video">Project video
    <input type="file" name="project[video]" id="project_video">
  </label>
  <label for="project_description">Project description
    <textarea name="project[description]"
      id="project_description"><%= @project.description %></textarea>
  </label>
  <label for="project_challenges">Risks and challenges
    <textarea id="project_challenges"
      name="project[challenges]"><%= @project.challenges %></textarea>
  </label>

	<input type="submit" value="Continue">
</form>

<br>
<br>
<h1>Every project needs great rewards.</h1>
<% reward_count = 1 %>
<% reward = @project.rewards.new %>
<label for="project_reward_<%= reward_count %>">Reward #<%= reward_count %>
<form action="<%= rewards_url %>" method="POST">
  <%= authenticate %>
  <input type="hidden" name="reward[project_id]" value="<%= @project.id %>">
  <label for="reward_pledge">Pledge amount
    <input type="text" name="reward[pledge]" value="<%= reward.pledge %>">
  </label>
  <label for="reward_description">Description
  <textarea id="reward_description"><%= reward.description %></textarea>
  </label>
  <label for="reward_delivery_date">Estimated delivery
    <select name="reward[delivery_month]" id="reward_delivery_date">
      <% MONTHS.each_with_index do |month, idx| %>
      <option value="<%= idx + 1 %>"><%= month %></option>
      <% end %>
    </select>
    <select name="reward[delivery_year]" id="reward_delivery_date">
      <% YEARS.each do |year| %>
      <option value="<%= year %>"><%= year %></option>
      <% end %>
    </select>
  </label>
  <label for="reward_shipping_type">Shipping details
    <select name="reward[shipping_type]" id="reward_shipping_type">
      <% SHIPPING.each_with_index do |shipping_method, idx| %>
      <option value="<%= idx %>"><%= shipping_method %></option>
      <% end %>
    </select>
  </label>
	<input type="submit" value="Add reward">
</form>
</label>

<br>
<br>
<h1>Now a little bit about you.</h1>
<%= render "users/form", user: @project.creator %>






