<% font_color = @category.font_color ? @category.font_color : 'black' %>

<style>
header.category-header h1:after {
	border-left: 20px solid <%= font_color %>;
	opacity: 0.8;
}
</style>

<header class="category-header" style="background:<%= @category.color %>">
	<div>
		<h1 style="color: <%= font_color %>"><%= @category.name %></h1>
		<ul class="group">
			<a href="" style="border: 2px solid <%= font_color %>; color: <%= font_color %>">All</a>
			<% @category.subcategories.each do |subcategory| %>
			  <a href="" style="border: 2px solid <%= font_color %>; color: <%= font_color %>"><%= subcategory.name %></a>
			<% end %>
		</ul>
	</div>
</header>

<main class="home-main">
  <div class="staff-picks">
  <section>
    <div class="pick-of-day group">
      <h4>Featured project in <%= @category.name %></h4>

      <div class="project-main">
      <% unless Project.where(category_id: @category.id).first.nil? %>
        <% project = Project.where(category_id: @category.id).first %>

					<div class="kickstarter-item-big group">
			        <img src="<%= project.photo.url %>">

						<div class="kickstarter-item-big-info group">

				      <div>
				        <a href=""><%= project.title %></a>
				        <p>by <%= project.creator.name %></p>
				        <p><%= project.blurb %></p>
				      </div>

				      <div class="kickstarter-item-location">
				        <span><%= project.location.name %></span>
				      </div>

				      <% percentage = (project.money_raised.to_i / project.goal) * 100 %>
				      <div class="green-bar group">
				        <div class="green-bar-outer">
				          <div class="green-bar-inner" style="width:<%= percentage %>%"></div>
				        </div>
				      </div>

				      <div>
				        <ul class="group">
				          <li class="group">
				            <strong><%= percentage.to_i %>%</strong>
				            <span>funded</span>
				          </li>

				          <li>
				            <strong>$<%= project.money_raised.to_i %></strong>
				            <span>pledged</span>
				          </li>

				          <li>
				            <strong><%= project.days_left %></strong>
				            <span>days to go</span>
				          </li>
				        </ul>
				      </div>
						</div>

			    </div>
				</div>
        <% end %>
      </div>
    </div>

  </section>

  <section class="kickstarter-items">
    <% projects = Project.where(category_id: @category.id) %>
    <h4>Popular</h4>
    <% projects.each do |project| %>
    <% next if project.description.nil? %>
    <div class="kickstarter-item group">
      <div class="img">
        <img src="<%= project.photo.url %>">
      </div>

      <div>
        <a href=""><%= project.title %></a>
        <p>by <%= project.creator.name %></p>
        <p><%= project.blurb %></p>
      </div>

      <div class="kickstarter-item-location">
        <span><%= project.location.name %></span>
      </div>

      <% percentage = (project.money_raised.to_i / project.goal) * 100 %>
      <div class="green-bar group">
        <div class="green-bar-outer">
          <div class="green-bar-inner" style="width:<%= percentage %>%"></div>
        </div>
      </div>

      <div>
        <ul class="group">
          <li class="group">
            <strong><%= percentage.to_i %>%</strong>
            <span>funded</span>
          </li>

          <li>
            <strong>$<%= project.money_raised.to_i %></strong>
            <span>pledged</span>
          </li>

          <li>
            <strong><%= project.days_left %></strong>
            <span>days to go</span>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </section>
	</div>
</div>











