<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<link rel="shortcut icon" href="assets/iconname.ico" type="image/x-icon">
  <title>Kickstarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<nav class="group">
			<a href="/"><p style="color:#000">Kick</p><p style="color:#2CDB5F">starter</p></a>
			<div>
				<a href="<%= discover_url %>">Discover</a>
				<a href="<%= learn_url %>">Start</a>
				<a href="" class="search">Search</a>
			</div>
      <div class="right-nav group">
    		<% unless signed_in? %>
    		  <a href="<%= new_user_url %>">Sign up</a>
    		  <a href="<%= new_session_url %>">Log in</a>
    		<% else %>
    		  <a href="<%= user_url(current_user) %>">Me</a>
    		  <form class="sign-out" action="<%= session_url %>" method="POST">
    		    <%= authenticate %>
    		    <input type="hidden" name="_method" value="DELETE">
    		    <input type="submit" value="Log out">
    		  </form>
    		<% end %>
      </div>

		</nav>
	</header>

<% if flash[:error] %>
<ul>
  <% flash[:error].each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= yield %>

</body>
</html>
