<!DOCTYPE html>
<html>
<head>
  <title>Kickstarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="">Discover</a>
<a href="<%= learn_url %>">Start</a>
<a href="">Search</a>
<% unless signed_in? %>
  <a href="<%= new_user_url %>">Sign up</a>
  <a href="<%= new_session_url %>">Log in</a>
<% else %>
  <a href="">Me</a>
<% end %>

<%= yield %>

</body>
</html>
